@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://use.typekit.net/eqk1fen.css");

/* For vars colors */
:root {
  --title-primary: #f3f3f3;
  --paragraphs-primary: #cecece;
}

body {
  margin: 0;
  font-family: source-sans-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
